*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;  /* to make the box dont take xetra paddinbg and margin */

}
html,body{
    width: 100%;
    height: 100%;
}
h1{
    color: antiquewhite;
}
/* so the conclusion is that , priority is ->>>>>> inline CSS >internal CSS > external CSS */