*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: #333;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* NAVBAR */

header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
}

nav{
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}



.hero{
    background-image: url("https://img.freepik.com/premium-photo/green-leaves-house-plant-ficus-benjamina-closeup_132375-19724.jpg");

    height: 100vh;

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    text-align: center;
    color: white;
}

.overlay h1{
    font-size: 80px;
    letter-spacing: 10px;
}

.overlay p{
    margin-top: 20px;
    letter-spacing: 5px;
}



.articles{
    padding: 80px 0;
}

.articles h2{
    text-align: center;
    margin-bottom: 50px;
}

.card-container{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 30px;
}

.card{
    text-align: center;
}

.card img{
    width: 100%;
    height: 300px;

    object-fit: cover;
}

.card h3{
    margin-top: 20px;
    font-size: 18px;
}



.about{
    display: grid;

    grid-template-columns: 1fr 1fr;

    min-height: 500px;
}

.about-image img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.about-text{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 50px;
    text-align: center;
}

.about-text h2{
    margin-bottom: 20px;
}



.subscribe{
    padding: 80px 20px;
    text-align: center;
}

.subscribe h2{
    margin-bottom: 20px;
}

.subscribe p{
    margin-bottom: 20px;
}

.subscribe input{
    width: 300px;
    max-width: 100%;

    padding: 12px;
    margin-bottom: 20px;
}

.subscribe button{
    padding: 12px 30px;
    border: none;

    background: black;
    color: white;

    cursor: pointer;
}



footer{
    background: #eee;
    padding: 30px 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}

.socials{
    display: flex;
    gap: 20px;
}

.socials a{
    text-decoration: none;
    color: black;
}

/* for responsiveness : i have kept it atlast  */

@media(max-width:768px){

    .navbar{
        flex-direction: column;
        gap: 20px;
    }

    .overlay h1{
        font-size: 50px;
    }

    .about{
        grid-template-columns: 1fr;
    }

}