*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.con{
    height: 90%;
    width: 90%;
    background-color: purple;
    display:flex;
    flex-direction: column;/* isse pehle sab bahar jaa rahe the elements , isko use karne pe sab container ke andar aagaye  */
    
    justify-content: center;
    align-items: center;
}

.b2{
    height: 50%;
    width: 50%;
    background-color: brown;
    display:flex;
    justify-content: center;
    align-items: center;
}
.b3{
    height: 50%;
    width: 50%;
    background-color: gold;
}