*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background: #1d1d1d;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;

  cursor: none;
}

/* MAIN UI */

.main{
  width: 85%;
  height: 80vh;

  background: #efefef;

  border-radius: 10px;

  display: flex;

  overflow: hidden;

  position: relative;
}

/* LEFT */

.menu{
  width: 25%;
  border-right: 2px solid black;
}

.menu-box{
  height: 33.33%;

  border-bottom: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 45px;
  font-weight: 900;

  transition: 0.3s;
}

.menu-box:hover{
  background: black;
  color: white;
}

/* CENTER */

.center{
  width: 25%;

  border-right: 2px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  position: relative;
}

.title{
  font-size: 50px;
  font-weight: bold;
}

.line{
  width: 4px;
  height: 120px;
  background: black;
}

.circle{
  width: 60px;
  height: 60px;

  background: red;
  border-radius: 50%;

  border: 5px solid black;
}

/* RIGHT */

.right{
  width: 50%;
}

.material{
  height: 20%;

  border-bottom: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: 900;
}

.grid{
  height: 80%;

  display: grid;

  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
}

.item{
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;

  transition: 0.3s;
}

.item:hover{
  background: black;
  color: white;
  transform: scale(1.05);
}

/* CUSTOM CURSOR */

.cursor{
  width: 90px;
  height: 90px;

  position: fixed;
  top: 0;
  left: 0;

  pointer-events: none;

  z-index: 99999;

  transform: translate(-50%, -50%) scale(0.8);

  transition: transform 0.2s ease;
}

.cursor img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}